

.fs-small {
    font-size: 13px;
}


/* PÁGINA NÃO LOGADA */

.banner-principal-nao-logado {
    background-image: url(../images/banner-promocao-seu-dinheiro-de-volta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 515px;
    margin: 4rem 0 0 0;
}
.bg-como-participar {
    background-image: url(../images/bg-como-participar-nao-logada.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.passo-a-passo img {
    min-width: 122px;
    max-height: 122px;
}
.passo {
    background-color: #FAA71B;
    border-radius: 40px;
    width: 53px;
    height: 53px;
}
.passo span {
    color: white;
    font-size: 40PX;
    font-weight: 900;
    margin: 0 0 0 -1px;
    line-height: 1.4;
}



/* PÁGINA CADASTRE-SE*/
#bg-cadastre {
    background-image: linear-gradient(#FFE50A, #FEB305);
}



/* PÁGINA LOGIN */

#login {
    background-image: url(../images/bg-login-mobile.png);
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* PÁGINA LOGADA */

                                                /* MENU */
.foto-usuario-menu {
    background-image: url(../images/avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid #FAA71B;
    width: 111px;
    height: 111px;
    border-radius: 25em;
}

.foto-social-meus-dados img {
	width: 111px;
    height: 111px;
    border-radius: 25em;
    object-fit: cover
}

.banner-principal-logado {
    background-image: url(../images/logado/BANNER_01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 483px;
    margin: 4rem 0 0 0;
}
.bg-yellow-gradient {
    background-image: linear-gradient(#FEB305, #FFE50A);

}


/* MINHA CONTA */

.avatar-minha-conta {
    width: 189px;
    height: 189px;
    background-image: url(../images/avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 12px solid #FEB305;
    border-radius: 20em;
}