@font-face {
    font-family: 'Roboto-regular';
    src: url(../fonts/Roboto-Regular.ttf); /* DEIXAR EM ../ PARA SUBIR PARA WEB */
}
@font-face {
    font-family: 'Roboto-black';
    src: url(../fonts/Roboto-Black.ttf);   /* DEIXAR EM ../ PARA SUBIR PARA WEB */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto-regular', sans-serif;
}

/* FONTES */
.roboto-black {
    font-family: 'Roboto-black', sans-serif;
}

/* BACKGROUNDS */
.bg-blue-1 {
    background-color: #000555;
}
.bg-blue-2 {
    background-color: #0751A0;
}
.bg-blue-3 {               /* USADO PARA BOTÕES*/
    background-color: #3368DC;                 
}
.bg-yellow-1 {
    background-color: #FAD612;
}
.bg-orange-1 {
    background-color: #FAA71B;
}
.bg-orange-2 {
    background-color: #FFC159;
}
.bg-green-1 {
    background-color: #8EC641;
}
.bg-white-1 {
    background-color: #FFF;
}
.bg-red-1 {
    background-color: #EC1F31;
}

/* COLORS */
.white-1 {
    color: #FFF;
}
.black-1 {
    color: #000;
}
.yellow-1 {
    color: #FAD612
}
.yellow-2 {                /* GERALMENTE USADO PARA TEXTO DE BOTÕES */
    color: #F6E663; 
}
.orange-1 {
    color: #FAA71B;
}
.blue-1 {
    color: #000555;
}
.blue-2 {
    color: #0751A0;
}
.red-1 {
    color: #EC1F31;
}
.gray-1 {
    color: #636363;
}


/* LINHA */
.lh-10 {
    line-height: 3rem;
}